<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.cos_mos.mdm.v1.dao.mapper.CodeCategoryMapper">

<select id="select" parameterType="Long" resultType="CodeCategory">
	SELECT 
	       id as id, 
	       owner_id as ownerId, 
	       name as name, 
	       inactive_ts as inactiveTs, 
	       last_update_ts as lastUpdateTs, 
	       last_update_user as lastUpdateUser, 
	       last_update_tx_id as lastUpdateTxId 
	  FROM code_category 
	 WHERE id = #{id}
</select>

<insert id="insert" parameterType="CodeCategory">
	INSERT INTO code_category (id, owner_id, name, inactive_ts, last_update_ts, last_update_user, last_update_tx_id) VALUES 
	(#{id},#{ownerId},#{name},#{inactiveTs},CURRENT_TIMESTAMP(6),#{lastUpdateUser},#{lastUpdateTxId})
</insert>

<update id="update" parameterType="CodeCategory">
	UPDATE code_category SET 
		owner_id=#{ownerId},
		name=#{name},
		inactive_ts=#{inactiveTs},
		last_update_ts=CURRENT_TIMESTAMP(6),
		last_update_user=#{lastUpdateUser},
		last_update_tx_id=#{lastUpdateTxId}
	WHERE id=#{id}
	  AND last_update_ts=#{lastUpdateTs}
</update>

<delete id="delete" parameterType="CodeCategory">
	DELETE FROM code_category
	 WHERE id=#{id}
</delete>

<update id="inactive" parameterType="CodeCategory">
	UPDATE code_category SET 
		inactive_ts=CURRENT_TIMESTAMP(6),
		last_update_ts=CURRENT_TIMESTAMP(6),
		last_update_user=#{lastUpdateUser},
		last_update_tx_id=#{lastUpdateTxId}
	WHERE id=#{id}
	  AND last_update_ts=#{lastUpdateTs}
</update>

<select id="search" parameterType="CodeCategoryCriteria" resultType="CodeCategory">
	SELECT 
	       id as id, 
	       owner_id as ownerId, 
	       name as name, 
	       inactive_ts as inactiveTs, 
	       last_update_ts as lastUpdateTs, 
	       last_update_user as lastUpdateUser, 
	       last_update_tx_id as lastUpdateTxId 
	  FROM code_category 
	<where>
		<if test="ownerId != null">
			AND owner_id = #{ownerId}
		</if>
	</where>
	ORDER BY id;
</select>

</mapper>